/*general*/
*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html 
{
	scroll-behavior: smooth;
	overflow-x: hidden
}

body
{
	font-family: 'Alata', sans-serif;
	overflow-x: hidden
}

.btn
{
	display: inline-block;
	background: #FF8C00;
	color: black;
	font-size: 20px;
	padding: 8px 30px;
	margin: 30px 0px;
	border-radius: 30px;
	transition: background 0.6s;
}

.container
{
	max-width: 1300px;
	margin: auto;
	padding-left: 5px;
	padding-right: 5px;
}

.row
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.row2
{
	display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: -10%;
    margin-right: -10%;
}
.col1
{
	flex-basis: 20%;
	margin-left: 50px;
	margin-bottom: 50px;
}
.col2
{
	flex-basis: 50%;
	max-width: 600px;
}

.col2 h1
{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0px;
}

.col3
{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}

.col3 img
{
	width: 100%;
}

.col4
 
{
	flex-basis: 25%;
    min-width: 250px;
    padding-top: 18px;
    padding-left: 40px;
    margin-bottom: 50px;
    transition: transform 0.4s;
}
.col4 img
 
{
	transition: 0.4s;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
	width: 100%;
}

.col4v2
 
{
	flex-basis: 25%;
    min-width: 250px;
    padding-top: 18px;
    padding-left: 40px;
    margin-bottom: 50px;
    transition: transform 0.4s;
}
.col4v2 img
 
{
	transition: 0.4s;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
	width: 100%;
}
/*end general*/

/*header*/
.header
{
	background: radial-gradient(#fff, #FFA500);
}

#home
{
	height: 760px;
	transition: 1s;
}

.menu-icon
{
	margin-left: 20px;
	font-size: 35px;
	display: none;
}

.navbar .logo img 
{
    margin-left: -67px;
}

.col2 img
 
{
	max-width: 110%;
}

.header .row
{
	margin-top: 70px;
}

.navbar
{
	display: flex;
	align-items: center;
	padding: 20px;
}

nav
{
	flex: 1;
	text-align: right;
}

nav ul
{
	display: inline-block;
	list-style-type: none;
	margin-top: -2%;
}

nav ul li
{
	display: inline-block;
	margin: 10px;
	font-weight: bold;
	text-decoration: none; 
   	background-color: none;
   	position: relative;
   	cursor: pointer;
   	transition: 0.4s;
}

nav ul li a:hover
{
	color: #fd5800 !important;
}

a
{
	text-decoration: none;
	color: black;
	transition: 0.25s;
}
/* end header*/

/* search */
#search_type
{
	border-radius: 7px;
	border: 3px solid #FF8C00;
	margin-bottom: -4%;
}

#search_type:focus, #product_type:focus
{
	outline: none;
}

#product_type
{
	border-radius: 7px;
	border: 3px solid #FF8C00;
	margin-top: 4.5%;
}

.searchForm
{
	height: 100%;
  	width: 0%;
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	background-color: white;
  	overflow-x: hidden;
  	padding-top: 20px;	
}

.cart
{
	height: 100%;
  	width: 0;
  	position: fixed;
  	background: rgba(0, 151, 19, 0.1);
  	z-index: 1;
  	top: 0;
  	left: 0;
  	overflow-x: hidden;
  	transition: 0.5s;
  	padding-top: 20px;	
}


.searchForm input, .searchForm select
{
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.searchForm input
{
	width: 100%;
	height: 40px;
 
	margin-bottom: -5px;
	margin-top: -1%;
	padding-left: 10px;
	border-radius: 7px;
	border: 3px solid #FF8C00;
}

.searchForm input:focus
{
	outline: none;
}

.searchForm .closebtn 
{
	position: absolute;
	color: #FF8C00;
	top: -28px;
	right: 2px;
	font-size: 60px;
}

.cart .closebtn
{
	position: absolute;
	color: #FF8C00;
	top: -9px;
	right: 2px;
	font-size: 60px;
}

#search_result
{
	top: -3%;
}

#search_result .row
{
	margin-left: -10%;
	margin-right: -10%;
	margin-top: 2.5%;
}


#search_type, #product_type
{
	width: 162px;
    display: inline;
    font-size: 20px;
}
/* end search */

/* responsive for header */

@media only screen and (max-width: 1230px)
{
	.searchForm .closebtn
	{
		margin-top: 1.5%;
	}
	.row
	{
		margin-top: -20px;
	}
	.col2
	{
		flex-basis: 60%;
		margin-top: -50px;
	}

	.col2 img
	{
		max-width: 95%;
	}

	.row2
	{
		margin-top: 2% !important;
		margin-left: -15%;
	}
	.col4, .col4vs 
	{
		flex-basis: 36%;
	}

	.navbar .logo img
	{
		margin-left: 0;
	}

	.title
	{
		margin-bottom: 0 !important;
	}

}

@media only screen and (max-width: 899px)
{
	.navbar .logo img
	{
		width: 300px;
		margin-left: 0;
	}
}

@media only screen and (max-width: 899px)
{
	.row2
	{
		margin-top: 15% !important;
	}
	.col4
	{
		flex-basis: 65%;
    	margin-left: -8%;
	}
	.col4v2
	{
		margin-right: 198px !important;
    	flex-basis: 64% !important;
	}
	
	.row
	{
		margin-top: 0;
	}
	nav ul
	{
		position: absolute !important;
	    top: 75px !important;
	    margin-left: -9.5% !important;
	    border-radius: 15px !important;
	    width: 120px !important;
	    overflow: hidden !important;
	    transition: max-height 0.2s !important;
	}

	nav ul li
	{
		display: block !important;
	    width: 106px !important;
	    background: #ff8c00 !important;
	    text-align: center !important;
	    border: 3px solid black !important;
	    border-radius: 5px !important;
	}

	nav ul li:hover
	{
		border-radius: 5px !important;
		background: black !important;
	}

	#btnSubmit-pagination
	{
		visibility: hidden;
	    opacity: 0;
	    width: 0;
	    height: 0;
	    margin: -12px;
	}

	nav
	{
		width: 150px;
	}

	nav ul li a:hover
	{
		color: #fd5800;
	}

	nav ul li form
	{
		margin-top: 0px;
		height: 50px;

	}

	.menu-icon
	{
		display: block;
		cursor: pointer;
	}

	.col2
	{
		flex-basis: 65%;
	}

	.col2 img
	{
		max-width: 80%;
	}
}
/* responsive for header */


/* header login_register*/
.login-page
{
	margin-top: -9%;
	margin-right: 53%;
	margin-left: 47%;
}

.btn:hover
{
	background: #2f4f4f;
	color: #fd5800 !important;
}

.form-container
{
	background: white;
	width: 300px;
	height: 420px;
	border: 5px solid orange;
	border-radius: 20px;
	position: relative;
	text-align: center;
	overflow: hidden;
	padding: 10px;
	transition: 0.5s;
}

.form-container span
{
	font-size: 24px;
	font-weight: bold;
	padding: 0 10px;
	color: black;
	cursor: pointer;
	width: 100px;
}

.form-container span:hover
{
	color: #fd5800;
	transition: 0.4s;
}

.form-btn
{
	display: inline-block;
}

form
{
	margin-top: -40px;
}

form input
{
	width: 100%;
	height: 30px;
	margin: 10px 0px;
	padding: 0px 10px;
	border-radius: 20px;
	border: 3px solid orange;
}

form input:focus
{
	outline: none;
}

form a:hover
{
	color: #fd5800 !important;
}

form .btn
{
	width: 100%;
	border: none;
	cursor: pointer;
	margin: 10px 0px;
}

form .btn:focus
{
	outline: none;
}

#login
{
	left: -300px;
} 

#register
{
	left: 0;
}

.form-container form
{
	max-width: 300px;
	padding: 0 20px;
	position: absolute;
	top: 130px;
	transition: transform 1s;
}

#indicator
{
	width: 100px;
	height: 3px;
	border: none;
	background: #FF8C00;
	margin-top: 12px;
	transform: translateX(100px);
	transition: transform 1s;
}

#indicator1
{
	width: 100px;
	height: 3px;
	border: none;
	background: #FF8C00;
	margin-top: 12px;
	/*transform: translateX(100px);*/
	transition: transform 1s;
}

#account
{
	display: none;
}

p
{
	color: solid orange;	
}
/*end login_register*/

/*responsive for login_register*/
@media only screen and (max-width: 750px)
{
	.login-page
	{
		margin-top: -13%;
		flex-basis: 100%;
	}
} 

@media only screen and (max-width: 550px)
{
	.login-page
	{
		margin-top: -18%;
	}
}
/* end responsive for login_register*/

/*product*/
.small-container
{
	max-width: 1080px;
	margin-left: 14%;
	margin-right: 14%;
    margin-left: 17%;
    margin-right: 14%;
 
}

.title
{
	text-align: center;
	margin: 0 auto 10px;
	position: relative;
	line-height: 60px;
	color: #555;
	font-size: 42px;
}

.title::after
{
	content: '';
	background: #FF8C00;
	width: 150px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.rating span
{
	color: #fe5a1d;
	font-size: 20px;
}
.col4:hover
 
{
	transform: translateY(-10px);
}
/* end product*/

/*website-features*/
.website-features
{
	margin-top: 50px;
	margin-bottom: 0px;
	margin-left: 5%;
	height: 20%;
}

.website-features .container
{
	margin-left: 5%;
	margin-right: 5%;
}

.website-features div p
{
	margin-bottom: 0px;
	margin-left: -10px;
}

.website-features img
{
	width: 40%;
}
/*end website-features*/

/*responsive for website-features*/
@media only screen and (max-width: 980px)
{
	.col1
 
	{
		flex-basis: 40%;
		margin-top: -4.5%;
	}

	.website-features
	{
		margin-left: 5%;
		margin-right: 5%;
	}
	.website-features img
	{
		width: 55%;
	}

	.website-features div p
	{
		margin-bottom: 25px;
	}
}

.disabled 
{
    pointer-events: none;
    opacity: 0.3;
}


@media only screen and (max-width: 540px)
{
	.col3
	{
		flex-basis: 100%;
	}
} 
/*responsive for website-features*/

/*footer*/
.footer
{
	margin-top: 0px;
	background: #000;
	color: #fff;
}

.footer h1
{
	font-size: 24px;
	margin-top: 20px;
	margin-left: 35px;
}

.footer p
{
	font-size: 16px;
	margin-left: 35px;
}

.footer img
{
	width: 50%;
	margin-left: 35px;
	margin-top: 20px;
}

.footer .row .col
{
	flex-basis: 20%;
}
/*end footer*/

/*responsive for footer*/
@media only screen and (max-width: 800px)
{
	.footer .col
	{
		flex-basis: 50%;
	}

	.col h1
	{
		padding-left: 30px;
	}

	.footer img
	{
		width: 40%;
	}

	.footer h1
	{
		font-size: 20px;
		margin: 10px 0;
	}
}
/*end responsive for footer*/

/* Top button*/
#BtnTop
{
	display: none;
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 10;
	font-size: 14px;
	outline: none;
	background-color: #FF8C00;
	color: white;
	padding: 5px;
	border: 5px solid #CF5300;
	border-radius: 15px;
	font-weight: bold;
}

#BtnTop:hover 
{
	background-color: #555;
	color: #FF8C00;
	border: 5px solid #FF8C00;
	transition: 0.6s;
}
/*end top button*/

/* show-more button*/
/*#BtnShowMore
{
	bottom: 5px;
	margin-left: -10%;
	left: 5px;
	z-index: 99;
	font-size: 14px;
	outline: none;
	background-color: #FF8C00;
	color: white;
	padding: 5px;
	border: 5px solid #CF5300;
	border-radius: 15px;
	font-weight: bold;
}

#BtnShowMore:hover
{
	background-color: #555;
	color: #FF8C00;
	border: 5px solid #FF8C00;
	transition: 0.6s;
}*/
/*end show more btn*/

/* page num */
.page-num li
{
	display: inline;
}

.page-num
{
	margin-left: 1%;
	margin-bottom: 2%;
}

.page-num li button
{
	width: 25px;
	border-radius: 3px;
	outline: none;
	background: #FF8C00;
	border: 2px solid black;
	transition: 0.2s;
	font-weight: bold;
}

.page-num li button:hover
{
	transform: scale(1.2);
}
/* end page num */

/* detail product btn*/
.DetailBtn
{
	float: right;
    margin-top: -30px;
    width: 60px;
    height: 30px;
    border-radius: 14px;
    border: 4px solid #FF8C00;
    font-size: 14px;
    font-weight: bold;
    color: #FF8C00;
    background: black;
    transition: 1s;
	padding-left: 5px;
}

.DetailBtn:hover
{
	background: #FF8C00;
	color: black;
}

.DetailBtn:focus
{
	outline: none;
}
/*end product detail btn*/

/*product detail*/
.productDetail 
{
	top: -300%;
	left: 22%;
    z-index: 3;
	position: fixed;
    width: 60%;
    height: 400px;
    background: #ffF;
    transition: 0.7s;
    border-radius: 5px;
    border: 5px solid #FF8C00;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
}

.info
{
	margin-left: -2px;
    margin-top: 0%;
}

.productDetail .col2 img
{
	margin-left: 2%;
	margin-top: 2%;
	width: 80%;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}

.quantitydown 
{
    display: inline-block;
    font-size: 16pt;
    color: #ff4700;
    width: 28px;
    height: 29px;
    border-radius: 59%;
    border-left: none;
    background-color: #fff;
    outline: none;
    border: 2px solid black;
}

.quantityup 
{
    display: inline-block;
    font-size: 16pt;
    color: #ff4700;
    width: 28px;
    height: 29px;
    border-radius: 59%;
    border-left: none;
    background-color: #fff;
    outline: none;
    border: 2px solid black;
}

#size 
{
    font-size: 16px;
    border: 2px solid #000;
    width: 100px;
}

#quantity, #quan
{
    font-size: 16pt;
    width: 40px;
    height: 25px;
    padding: 5px;
    border: 2px solid #000;
    text-align: center;
}

.closeDetail
{
    float: right;
    font-weight: bold;
    text-decoration: none;
    font-size: 50px;
    color: black;
    margin-top: -42px;
}
/*end product detail*/

/*add to cart btn*/
.addToCart
{
    background: black;
    border-radius: 7px;
    width: 90px;
    height: 30px;
    border: 2px;
    margin-top: 6%;
    transition: 0.5s;
}

.addToCart a
{
	color: #ff8c00 !important;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    margin-left: 4%;
}

.addToCart a:hover
{
	color: black !important;
}

.addToCart:hover
{
	background: #FF8C00 !important;
	color: black !important;
}

button:focus
{
	outline: none;
}
/*add to cart btn*/

/* responsive for product detail*/
@media only screen and (max-width: 1297px)
{
	.productDetail
	{
		width: 350px;
		height: 650px;
	}

	.closeDetail
	{
    	margin-top: -84.5%;
	}
}
/* responsive for product detail*/

/* cart & order*/
.cart, .order
{
	top: -600%;
    z-index: 3;
	position: fixed;
	background: white;
    transition: 1.1s;
    border-radius: 5px;
    border: 5px solid #FF8C00;
    overflow: auto;
}

.closeCart
{
    float: right;
    font-weight: bold;
    text-decoration: none;
    font-size: 50px;
    color: #ff8c00;
    margin-left: 1%;
    margin-top: -44px;
}

h2
{
	font-size: 30px;
    margin-left: -0.5%;
    margin-top: -1%;
    color: #ff8c00;
}

.quan
{
	display: inline;
	margin-left: 50px;
}

#MyCart li
{
	margin-top: 3%;
	display: inline-block;
	margin-left: 2%;
	width: 20%;
}

.bottom_right
{
	position: absolute;
    bottom: 20px;
    right: 20px;
}
/*end cart & order*/

/*responsive for cart*/
@media only screen and (max-width: 912px)
{
	#MyCart li
	{
		width: 45%;
	}
}
/*end*/

/*banner*/
section#banner2 
{
    width: 100%;
    height: 100%;
    position: relative;
}
.largeee-banner img 
{
	margin-left: -82px;
    width: 111%;
 
    height: 100%;
    min-height: 280px;
}

.content-banner2 
{
    position: absolute;
    top: 28%;
    left: 20%;
    right: 20%;
}

.content-banner2 p 
{
    text-align: center;
    font-size: 21px;
    line-height: 31px;
}

p.dont 
{
    font-family: cursive;
    font-size: 38px;
    margin-bottom: 10px;
}

p.top 
{
    font-family: monospace;
    text-decoration: underline;
    font-size: 22px;
}

.container2
{
	max-width: 1520px;
	margin: auto;
}
/*end banner*/
/*end banner*/

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #FF8C00;
    border-color: #FF8C00;
}

.page-item .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #FF8C00;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.table thead th 
{
	font-size: 25px !important;
    background: #FFA500 !important;
}

tr
{
	font-size: 22px;
    background: #DCDCDC !important;
    text-align: center !important;
    line-height: 40px;
}