.fixed_header{
    width: 900px;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 500px;
}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {
  background: orange;
  color:#fff;
}

.fixed_header th, .fixed_header td {
  padding: 12px;
  text-align: left;
  border: 1px solid orange;
  width: 200px;
  box-sizing: border-box;
}

.fixed_header th {
    text-align: center;
}

.fixed_header tr {
  transition: 0.1s;
}

.fixed_header tr:hover {
  background-color: rgb(255, 167, 2);
  color: white;
}
.fixed_header tr:hover td {
  border: 1px solid white;
}